%h2 tags
= render partial: "tag_cloud", locals: { tag_cloud: tag_cloud }
%h2
  posts
  %small
    = "(#{posts.count})"
  = link_to "add new", new_post_path, class: 'post__button--add pull-right'

%ol
  - posts.each do |post|
    %li.post--short-size
      .post__title= link_to post.title, post_path(post)
      .post__body= post.truncated_body
