.post--full-size
  %h2
    = post.title
    %small
      = post.created_at
  = link_to "edit", edit_post_path(post), class: 'post__button--edit'

  .post__body
    = post.body
  .post__tags-list.tagsinput
    - post.tags_array.each do |tag|
      = content_tag :span, tag, class: 'tag'
